@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my first web application</p>
    <img src="https://media.istockphoto.com/vectors/car-flat-icon-vector-id1144092062?k=20&m=1144092062&s=612x612&w=0&h=OfnVBuV8UV5f4HD4KK8ySBNrqB7Q7nLeHhBqzdz6VDQ="
         width="650" height="600"/>
</div>
